---

# The Nextflow configuration file.
# Rendered as 'config' in '$HOME/.nextflow'

kind: ConfigMap
apiVersion: v1
metadata:
  name: nextflow-config
  namespace: {{ fp_namespace }}
data:
  config: |
    process {
      pod = [
        nodeSelector: 'informaticsmatters.com/purpose-fragmentor=yes',
{% if all_image_preset_pullsecret_name|string|length > 0 %}
        imagePullSecret: '{{ all_image_preset_pullsecret_name }}',
{% endif %}
        imagePullPolicy: '{{ fp_nextflow_pod_image_pull_policy }}'
      ]
    }
    executor {
        name = 'k8s'
        queueSize = {{ fp_nextflow_executor_queue_size }}
    }
    k8s {
{% if fp_nextflow_http_connect_timeout %}
        httpConnectTimeout = '{{ fp_nextflow_http_connect_timeout }}'
{% endif %}
{% if fp_nextflow_http_read_timeout %}
        httpReadTimeout = '{{ fp_nextflow_http_read_timeout }}'
{% endif %}
{% if fp_nextflow_max_error_retry %}
        maxErrorRetry = '{{ fp_nextflow_max_error_retry }}'
{% endif %}
        serviceAccount = 'fragmentor'
        storageClaimName = 'work'
        storageMountPath = '/work'
    }
