---

# The Nextflow configuration file.
# Rendered as 'config' in '$HOME/.nextflow'

kind: ConfigMap
apiVersion: v1
metadata:
  name: nextflow-config
  namespace: {{ fp_namespace }}
data:
  config: |
    process {
      pod = [
        nodeSelector: 'informaticsmatters.com/purpose-fragmentor=yes',
{% if all_image_preset_pullsecret_name|string|length > 0 %}
        imagePullSecret: '{{ all_image_preset_pullsecret_name }}',
{% endif %}
        imagePullPolicy: '{{ fp_image_pull_policy }}'
      ]
    }
    executor {
        name = 'k8s'
        queueSize = {{ fp_nextflow_queue_size }}
    }
    k8s {
        serviceAccount = 'fragmentor'
        storageClaimName = 'work'
        storageMountPath = '/work'
    }
