---

# The Nextflow configuration file.
# Rendered as 'config' in '$HOME/.nextflow'

kind: ConfigMap
apiVersion: v1
metadata:
  name: nextflow-config
  namespace: {{ fp_namespace }}
data:
  config: |
    process {
{% if all_image_preset_pullsecret_name|string|length > 0 %}
      pod = [nodeSelector: 'informaticsmatters.com/purpose-fragmentor=yes', imagePullSecret: '{{ all_image_preset_pullsecret_name }}']
{% else %}
      pod = [nodeSelector: 'informaticsmatters.com/purpose-fragmentor=yes']
{% endif %}
    }
    executor {
        name = 'k8s'
        queueSize = {{ fp_nextflow_queue_size }}
    }
    k8s {
        serviceAccount = 'fragmentor'
        storageClaimName = 'work'
        storageMountPath = '/work'
    }
