---

# Common playbook preparation.

# Expose ansible version
- debug:
    var: ansible_version.full

# Expose all the installed Python modules...

- name: Capture pip freeze
  command: pip freeze
  register: freeze
  changed_when: false

- name: Display pip freeze
  debug:
    var: freeze.stdout_lines

# Kubernetes credentials ------------------------------------------------------

# We don't use the Kubernetes credentials directly,
# but we load them into variables here from their
# expected environment variables so that we can assert they've been set.

- name: Set initial authentication facts
  set_fact:
    k8s_auth_host: "{{ lookup('env', 'K8S_AUTH_HOST') }}"
    k8s_auth_api_key: "{{ lookup('env', 'K8S_AUTH_API_KEY') }}"

# AWS credentials (for bucket access) -----------------------------------------

# Expected in the environment...

- name: Set AWS authentication facts
  set_fact:
    aws_access_key_id: "{{ lookup('env', 'AWS_ACCESS_KEY_ID') }}"
    aws_secret_access_key: "{{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}"
