---

# The Kubernetes config file.
# Rendered as 'config' in ~/.kube

kind: ConfigMap
apiVersion: v1
metadata:
  name: kubeconfig
  namespace: {{ fc_namespace }}
data:
  config: "{{ kubeconfig_fact|replace('\n', '\\n') }}"
