---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: work
  namespace: {{ fp_namespace }}
spec:
  accessModes:
  - ReadWriteMany
  storageClassName: '{{ fp_work_volume_storageclass }}'
  resources:
    requests:
      storage: '{{ fp_work_volume_size_g }}Gi'
