---

# Commonly adjusted application variables -
# everything we expect the user to consider changing.
# To avoid clutter, put less-common variables in 'vars/main.yaml'

# The player's playbook to run.
fp_play: SetMe

# The user's kubernetes configuration file.
# The user must set KUBECONFIG - we do not assume ~/.kube/config
fp_kubeconfig_file: "{{ lookup('env', 'KUBECONFIG') }}"

# The namespace that is expected to exist.
fp_namespace: fragmentor

# The name of the 'pgcopy' volume (that we can mount).
# It's also mounted into the database (at `/pgcopy`).
# This PVC must exist and must be of the type `ReadWriteMany`.
fp_pgcopy_pvc_name: pgcopy

# The 'work' volume.
# Shared with all the workflow containers that get launched.
fp_work_volume_storageclass: efs
fp_work_volume_size_g: 1

# Read the content of the parameters file.
# This will be injected into the fragmentor container.
fp_parameter_file: parameters.yaml

# Details of the fragmentation player container image
fp_image_registry: docker.io
fp_image_name: informaticsmatters/fragmentor-player
fp_image_tag: '1.0.6'

# The nextflow version to run.
# The player image generally contains the 'latest' nextflow version.
# The version available at the time the player image was produced.
# To add a level of reproducibility we identify the _actual_ nextflow version
# we want the player Pod to use here. This is injected into the player Pod
# using the environment variable 'NXF_VER'.
#
# Here we use the pre-release '21.02.0-edge' version, that appears to fix
# the intermittent 'Memory unit cannot be a negative number' errors
# seen when running in AWS EKS clusters.
fp_nextflow_version: '21.02.0-edge'
# And the Nextflow queue size
fp_nextflow_queue_size: 100

# A pull-secret for public images pulled from DockerHub.
# If set this is the base-64 string that can be used as the value
# in our Kubernetes Secret as the .dockerconfigjson value.
# If set it is applied to the ServiceAccount in the namespace
# and applied to Pods that use that namespace.
fp_dockerhub_pullsecret: ''

# All Image PUll Secret -------------------------------------------------------

# A pull-secret name.
# If you need a pull secret to pull the images you must create it
# in the fragmentor namespace and provide the name of it in this variable.
#
# This secret must apply to all images the fragmentor will need.
all_image_preset_pullsecret_name: ''
